<!-- Overview Section -->
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Overview</h2>
                    <h3 class="section-subheading text-muted">Holmes Processing was born out of the need to rapidly process and analyze large volumes of threat intelligence data. The system creates a distributed architecture that allows the system to scale horizontally while also providing the flexible needed to evolve to the ever changing landscape of computer security. Whether you have thousands or millions of objects, Holmes Processing can easily help you extract useful information and generate meaningful intelligence.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <img src="img/architecture.svg" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h5 class="service-heading">Extract</h5>
                    <p class="text-muted">Execute static and dynamic analysis techniques and also query 3rd parties for information.</p>
                    <br>
                    <h5 class="service-heading">Store</h5>
                    <p class="text-muted">Centrally manage raw data, extracted information, and generated intelligence.</p>
                    <br>
                    <h5 class="service-heading">Analyze</h5>
                    <p class="text-muted">Provides the infrastructure required to perform statistical, machine learning, and other analytic methods.</p>
                </div>
            </div>
        </div>
    </section>